gradio
chromadb
langchain-community
sentence-transformers
langchain-groq
langchain-google-genai
langchain-core
langchain_chroma
langchain_text_splitters
langchain_huggingface
pypdf
python-dotenv
streamlit
elevenlabs
fastembed
pdfplumber
unstructured
unstructured[all-docs]
